<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{::title}, ~{::section})">
<head>
    <title>VetApp | Yeni Hayvan Ekle</title>
</head>
<body>

<section>
    <div class="col-md-6 mx-auto">
        <h4>Yeni Hayvan</h4>
        <hr>
        <div class="card bg-light">
            <div class="card-body">
                <form th:action="@{/pets/add}" th:object="${pet}" method="post">
                    <div th:if="${#fields.hasErrors()}" class="alert alert-danger" role="alert">
                        <ul>
                            <li th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
                        </ul>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">İsim</label>
                        <input type="text" class="form-control" th:field="*{name}" id="name">
                    </div>
                    <div class="mb-3">
                        <label for="age" class="form-label">Yaş</label>
                        <input type="number" class="form-control" th:field="*{age}" id="age">
                    </div>

                    <div class="mb-3">
                        <label for="genus" class="form-label">Cinsi</label>
                        <select class="form-select" th:field="*{genus}" id="genus">
                            <option value="">Lütfen seçim yapın...</option>
                            <option th:each="g : ${genus}" th:value="${g.key}" th:text="${g.value}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="owner" class="form-label">Hayvan Sahibi</label>
                        <select class="form-select" name="owner" id="owner">
                            <option value="">Lütfen seçim yapın...</option>
                            <option th:each="owner : ${owners}" th:value="${owner.id}" th:text="${owner.fullName}"
                                    th:selected="${ownerId == owner.id}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Açıklama</label>
                        <textarea class="form-control" th:field="*{description}" id="description" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>