<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Vet App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p><a th:href="@{/}">Ana sayfaya dön</a></p>
<p><a th:href="@{/pets}">Pet Listesine dön</a></p>
<div th:if="${pet.owner != null}">
    <p><a th:href="@{/owners/{id}(id=${pet.owner.id})}">Owner sayfasına dön</a></p>
</div>
<hr>
<div th:if="${message}">
    <p>[[${message}]]</p>
</div>
<ul>
    <li th:each="err : ${#fields.errors('pet.*')}" th:text="${err}"/>
</ul>

<form th:action="@{/pets/edit/{id}(id=${pet.id})}" th:object="${pet}" method="post">

    <p>Name: <input type="text" th:field="*{name}"/></p>
    <p>Age: <input type="number" th:field="*{age}"/></p>

    <label for="genus">Genus</label>
    <select th:field="*{genus}" id="genus">
        <option th:each="g : ${genus}" th:value="${g.key}" th:text="${g.value}"
                th:selected="${g.key==pet.genus}">
        </option>
    </select>
    <br><br>

    <label for="owner">Owner</label>
    <select th:field="*{owner}" id="owner">
        <div th:if="(${pet.owner} == null)">
            <option value="" selected>Lütfen seçim yapınız...</option>
            <option th:each="owner: ${owners}" th:value="${owner.id}" th:text="${owner.fullName}"></option>
        </div>
        <div th:if="(not (${pet.owner} == null))">
            <option value=""> Lütfen seçim yapınız...</option>
            <option th:each="owner : ${owners}" th:value="${owner.id}" th:text="${owner.fullName}"
                    th:if="(${owner.id} == ${pet.owner.id} ? 'selected' : '')">
            </option>
        </div>

    </select>

    <br>
    <br>
    <textarea rows="20" cols="80" th:field="*{description}">...</textarea>
    <input type="reset" value="Formu Temizle"/>
    <p><input type="submit" value="Kaydet"/></p>
</form>

</body>
</html>