<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{::title}, ~{::section})">
<head>
    <title>VetApp | Yeni Hayvan Ekle</title>
</head>
<body>

<section>
    <div class="col-md-6 mx-auto">
        <div class="d-flex justify-content-between">
            <div>
                <h3>Bilgileri Düzenle</h3>
            </div>
            <div>
                <a class="btn btn-primary" th:href="@{/pets/{id}(id=${pet.id})}">Hayvan Sayfasına Dön</a>
            </div>
        </div>
        <hr>
        <div th:if="${message}" class="alert alert-success" role="alert">
            [[${message}]]
        </div>
        <div class="card bg-light">
            <div class="card-body">
                <form th:action="@{/pets/edit/{id}(id=${pet.id})}" th:object="${pet}" method="post">
                    <div th:if="${#fields.hasErrors()}" class="alert alert-danger" role="alert">
                        <ul>
                            <li th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
                        </ul>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">İsim</label>
                        <input type="text" class="form-control" th:field="*{name}" id="name">
                    </div>
                    <div class="mb-3">
                        <label for="birthDate" class="form-label">Doğum Tarihi</label>
                        <input type="date" class="form-control" th:field="*{birthDate}" id="birthDate"
                               th:attr="max=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="genus" class="form-label">Cinsi</label>
                        <select class="form-select" th:field="*{genus}" id="genus">
                            <option value="">Lütfen seçim yapın...</option>
                            <option th:each="g : ${genus}" th:value="${g.key}" th:text="${g.value}"
                                    th:selected="${g.key==pet.genus}"
                            ></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="species" class="form-label">Tür</label>
                        <input type="text" class="form-control" th:field="*{species}" id="species">
                    </div>
                    <div class="mb-3">
                        <label for="owner" class="form-label">Hayvan Sahibi</label>
                        <select class="form-select" name="owner" id="owner">
                            <option th:selected="${pet.owner==null}" value="">Lütfen seçim yapınız.</option>
                            <th:block th:each="o : ${owners}">
                                <option th:value="${o.id}" th:text="${o.fullName}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Açıklama</label>
                        <textarea class="form-control" th:field="*{description}" id="description" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>
