<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Vet App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p><a th:href="@{/pets/add}">Pet Ekle</a></p>

<div th:if="${message}">
    <p>[[${message}]]</p>
</div>

<table>
    <thead>
    <tr>
        <th>İsim</th>
        <th>Yaş</th>
        <th>Tür</th>
        <th>Oluşturulma Tarihi</th>
        <th>Güncellenme Tarihi</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="petDto : ${petDtos}">
        <td>[[${petDto.name}]]</span></td>
        <td>[[${petDto.age}]]</td>
        <td>[[${petDto.genus.value}]]</td>
        <td th:text="${#dates.format(petDto.createdAt, 'dd/MMM/yyyy HH:mm')}"></td>
        <td th:text="${#dates.format(petDto.updatedAt, 'dd/MMM/yyyy HH:mm')}"></td>
        <td><a th:href="@{/pets/{id}(id=${petDto.id})}">Göster</a></td>
        <td><a th:href="@{/pets/edit/{id}(id=${petDto.id})}">Düzenle</a></td>
        <td><a th:href="@{/pets/delete/{id}(id=${petDto.id})}">Sil</a></td>
    </tr>
    </tbody>
</table>


</body>
</html>