<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/components :: head(~{::title})">
    <title>VetApp | Hayvan Arama</title>
</div>

<body>

<div th:replace="fragments/components :: navbar"></div>

<div class="container mt-5">
    <h2>Arama Ekranı</h2>
    <hr>
    <div class="d-flex justify-content-between">
        <div>
            <form th:action="@{/pets/search}" method="get" class="row g-3">
                <div class="col-auto">
                    <label for="keyword" class="visually-hidden">İsim </label>
                    <input type="text" class="form-control" name="keyword" id="keyword"
                           th:value="${param.keyword}">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Ara</button>
                </div>
            </form>
        </div>
        <div>
            <a class="btn btn-primary" th:href="@{/pets/add/}"><i class="bi bi-plus-lg"></i>&nbsp;&nbsp;Yeni Kayıt</a>
        </div>
    </div>

    <div class="justify-content-start">
        <span class="badge bg-warning">Toplam Kayıt: [[${totalItems}]]</span>
    </div>

    <div th:if="${totalItems == 0}" class="mt-2">
        <h4>Arama sonucunda kayıt bulunamadı.</h4>
    </div>

    <div th:unless="${totalItems == 0}">

        <div th:replace="fragments/pet-components :: pet-table"></div>

        <div th:replace="fragments/pet-components :: search-page-navigation"></div>

    </div>
</div>

</body>
</html>
