<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{::title}, ~{::section})">
<head>
    <title>VetApp | Hayvanlar</title>
</head>
<body>

<section>
    <h2>Arama Ekranı</h2>
    <hr>
    <div class="d-flex justify-content-between">
        <div>
            <form th:action="@{/pets/search}" method="get" class="row g-3">
                <div class="col-auto">
                    <label for="keyword" class="visually-hidden">İsim </label>
                    <input type="text" class="form-control" name="keyword" id="keyword"
                           th:value="${param.keyword}">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Ara</button>
                </div>
            </form>
        </div>
        <div>
            <a class="btn btn-primary" th:href="@{/pets/add/}"><i class="bi bi-plus-lg"></i>&nbsp;&nbsp;Yeni Kayıt</a>
        </div>
    </div>

    <div class="justify-content-start">
        <span class="badge bg-secondary">Toplam Kayıt: [[${totalItems}]]</span>
    </div>

    <div th:if="${totalItems == 0}">
        <h4>Arama sonucunda kayıt bulunamadı.</h4>
    </div>
    <div th:unless="${totalItems == 0}">
        <table class="table table-light table-bordered table-hover mt-3">
            <thead>
            <tr>
                <th scope="col">İsim</th>
                <th scope="col">Yaş</th>
                <th scope="col">Tür</th>
                <th scope="col">Sahibi</th>
                <th scope="col">Kayıt Tarihi</th>
                <th scope="col">Güncellenme Tarihi</th>
                <th scope="col">İşlem</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pet : ${pets}">
                <td class="text-capitalize">[[${pet.name}]]</span></td>
                <td>[[${pet.age}]]</td>
                <td>[[${pet.genus.value}]]</td>
                <td th:if="${pet.owner != null}">[[${pet.owner.fullName}]]</td>
                <td th:unless="${pet.owner != null}"></td>
                <td>[[${#dates.format(pet.createdAt, 'dd/MMM/yyyy HH:mm')}]]</td>
                <td>[[${#dates.format(pet.updatedAt, 'dd/MMM/yyyy HH:mm')}]]</td>
                <td><a class="btn btn-outline-success" th:href="@{/pets/{id}(id=${pet.id})}">Göster</a>
                    <a class="btn btn-outline-warning" th:href="@{/pets/edit/{id}(id=${pet.id})}">Düzenle</a>
                    <a class="btn btn-outline-danger" th:href="@{/pets/delete/{id}(id=${pet.id})}">Sil</a>
                </td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item" th:classappend="${currentPage == 1 } ? 'disabled' : ''">
                    <a class="page-link" th:href="@{/pets/search(keyword=${keyword},page=${currentPage - 1})}">Önceki
                        Sayfa</a>
                </li>
                <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}"
                    th:classappend="${currentPage == i} ? 'active' : ''" aria-current="page">
                <span th:if="${currentPage == i}">
                    <span class="page-link">[[${i}]]</span>
                </span>
                    <span th:unless="${currentPage == i}">
                    <a class="page-link" th:href="@{/pets/search(keyword=${keyword},page=${i})}">[[${i}]]</a>
                </span>
                </li>
                <li class="page-item"
                    th:classappend="(${totalPages == 1 || totalPages == currentPage }) ? 'disabled' : ''">
                    <a class="page-link" th:href="@{/pets/search(keyword=${keyword},page=${currentPage + 1})}">Sonraki
                        Sayfa</a>
                </li>
            </ul>
        </nav>
    </div>
</section>

</body>
</html>
