<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Vet App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p><a th:href="@{/}">Ana sayfaya dön</a></p>
<p><a th:href="@{/pets}">Pet Listesine dön</a></p>
<div th:if="${pet.owner != null}">
    <p><a th:href="@{/owners/{id}(id=${pet.owner.id})}">Owner sayfasına dön</a></p>
</div>

<hr>
<h1>Pet</h1>
<hr>
<p th:text="${pet.name}"></p>
<p th:text="${pet.age}"></p>
<p th:text="${pet.genus.value}"></p>
<p th:text="${#dates.format(pet.createdAt, 'dd/MMM/yyyy HH:mm')}"></p>
<p th:text="${#dates.format(pet.updatedAt, 'dd/MMM/yyyy HH:mm')}"></p>
<p th:text="${pet.description}"></p>

</body>
</html>