<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Vet App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p><a th:href="@{/}">Ana sayfaya dön</a></p>
<p><a th:href="@{/pets}">Pet Listesine dön</a></p>
<div th:if="${petDto.getOwner() != null}">
    <p><a th:href="@{/owners/{id}(id=${petDto.owner.id})}">Owner sayfasına dön</a></p>
</div>

<hr>
<h1>Pet</h1>
<hr>
<p th:text="${petDto.getName()}"></p>
<p th:text="${petDto.getAge()}"></p>
<p th:text="${petDto.getGenus().getValue()}"></p>
<p th:text="${#dates.format(petDto.getCreatedAt(), 'dd/MMM/yyyy HH:mm')}"></p>
<p th:text="${#dates.format(petDto.getUpdatedAt(), 'dd/MMM/yyyy HH:mm')}"></p>
<p th:text="${petDto.getDescription()}"></p>

</body>
</html>