<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ana Sayfa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">
            <img src="/img/logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
            VetApp
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" th:href="@{/}">Ana Sayfa</a>
                <a class="nav-link" th:href="@{/owners}">Hayvan Sahipleri</a>
                <a class="nav-link" th:href="@{/pets}">Hayvanlar</a>
                <a class="nav-link" th:href="@{/genera}">Cinsler</a>
                <a class="nav-link" th:href="@{/species}">Türler</a>
            </div>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="col-md-6 mx-auto">
        <h4>Yeni Hayvan Cinsi</h4>
        <hr>
        <div class="card bg-light">
            <div class="card-body">
                <form th:action="@{/genera/add}" th:object="${genus}" method="post">
                    <div th:if="${#fields.hasErrors()}" class="alert alert-danger" role="alert">
                        <ul>
                            <li th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
                        </ul>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Cins Adı</label>
                        <input type="text" class="form-control text-capitalize" th:field="*{name}" id="name">
                    </div>
                    <button type="submit" class="btn btn-success">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>