<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/components :: head(~{::title})">
    <title>VetApp | Cins Düzenleme</title>
</div>

<body>

<div th:replace="fragments/components :: navbar"></div>

<div class="container mt-5">
    <div class="col-md-6 mx-auto">
        <div class="d-flex justify-content-between">
            <div>
                <h3>Bilgileri Düzenle</h3>
            </div>
        </div>
        <hr>

        <div th:replace="fragments/components :: message"></div>

        <div class="card bg-light">
            <div class="card-body">
                <form th:action="@{/genera/edit/{id}(id=${genus.id})}" th:object="${genus}" method="post">
                    <div th:replace="fragments/components :: form-error"></div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Cins Adı</label>
                        <input type="text" class="form-control text-capitalize" th:field="*{name}" id="name">
                    </div>
                    <button type="submit" class="btn btn-success">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>