<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="profile-card">
    <div class="card text-dark bg-light mt-2">
        <div class="card-body">
            <h5 class="card-title">[[${owner.fullName}]]</h5>
            <hr>
            <p class="card-text"><b>Telefon:</b> [[${owner.telephoneNumber}]]</p>
            <p class="card-text"><b>Email:</b> [[${owner.email}]]</p>
            <p class="card-text"><b>Adres:</b> [[${owner.address}]]</p>
            <p class="card-text"><b>Kayıt Tarihi:</b> [[${#dates.format(owner.createdAt, 'dd/MMM/yyyy
                HH:mm')}]]</p>
            <p class="card-text"><b>Güncellenme Tarihi:</b> [[${#dates.format(owner.updatedAt, 'dd/MMM/yyyy
                HH:mm')}]]</p>
        </div>
        <div class="card-footer text-muted">
            <div class="row g-2">
                <div class="col-md-6 d-grid">
                    <a class="btn  btn-danger" th:href="@{/owners/delete/{id}(id=${owner.id})}">
                        <i class="bi bi-trash3"></i>&nbsp;&nbsp;Sil</a>
                </div>
                <div class="col-md-6 d-grid">
                    <a class="btn btn-primary" th:href="@{/owners/edit/{id}(id=${owner.id})}">
                        <i class="bi bi-pencil"></i>&nbsp;&nbsp;Düzenle</a>
                </div>
            </div>
        </div>
    </div>
</div>





<div th:fragment="owner-table">
    <table class="table table-light table-bordered table-hover mt-3 table-responsive">
        <thead>
        <tr>
            <th scope="col">Ad Soyad</th>
            <th scope="col">Telefon</th>
            <th scope="col">Email</th>
            <th scope="col">Adres</th>
            <th scope="col">Kayıt Tarihi</th>
            <th scope="col">İşlem</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${owners}">
            <td class="text-capitalize">[[${owner.fullName}]]</td>
            <td>[[${owner.telephoneNumber}]]</td>
            <td>[[${owner.email}]]</td>
            <td>[[${owner.address}]]</td>
            <td>[[${#dates.format(owner.createdAt, 'dd/MMM/yyyy HH:mm')}]]</td>
            <td>
                <div class="row g-2">
                    <div class="col-lg-4 d-grid">
                        <a class="btn btn-outline-success" th:href="@{/owners/{id}(id=${owner.id})}">Göster</a>
                    </div>
                    <div class="col-lg-4 d-grid">
                        <a class="btn btn-outline-warning"
                           th:href="@{/owners/edit/{id}(id=${owner.id})}">Düzenle</a>
                    </div>
                    <div class="col-lg-4 d-grid">
                        <a class="btn btn-outline-danger" th:href="@{/owners/delete/{id}(id=${owner.id})}">Sil</a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="page-navigation">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item" th:classappend="${currentPage == 1 } ? 'disabled' : ''">
                <a class="page-link" th:href="@{/owners(page=${currentPage - 1})}">Önceki Sayfa</a>
            </li>
            <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}"
                th:classappend="${currentPage == i} ? 'active' : ''" aria-current="page">
                <span th:if="${currentPage == i}">
                    <span class="page-link">[[${i}]]</span>
                </span>
                <span th:unless="${currentPage == i}">
                    <a class="page-link" th:href="@{/owners(page=${i})}">[[${i}]]</a>
                </span>
            </li>
            <li class="page-item"
                th:classappend="(${totalPages == 1 || totalPages == currentPage }) ? 'disabled' : ''">
                <a class="page-link" th:href="@{/owners(page=${currentPage + 1})}">Sonraki Sayfa</a>
            </li>
        </ul>
    </nav>
</div>

<div th:fragment="search-page-navigation">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item" th:classappend="${currentPage == 1 } ? 'disabled' : ''">
                <a class="page-link" th:href="@{/owners/search(keyword=${keyword},page=${currentPage - 1})}">Önceki
                    Sayfa</a>
            </li>
            <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}"
                th:classappend="${currentPage == i} ? 'active' : ''" aria-current="page">
                <span th:if="${currentPage == i}">
                    <span class="page-link">[[${i}]]</span>
                </span>
                <span th:unless="${currentPage == i}">
                    <a class="page-link" th:href="@{/owners/search(keyword=${keyword},page=${i})}">[[${i}]]</a>
                </span>
            </li>
            <li class="page-item"
                th:classappend="(${totalPages == 1 || totalPages == currentPage }) ? 'disabled' : ''">
                <a class="page-link" th:href="@{/owners/search(keyword=${keyword},page=${currentPage + 1})}">Sonraki
                    Sayfa</a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>