<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{::title}, ~{::section})">
<head>
    <title>VetApp | Hata oluştu</title>
</head>
<body>

<section>

    <div class="page-wrap d-flex flex-row align-items-center mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <div class="mb-4 lead" th:if="${message}">[[${message}]]</div>
                    <div class="mb-4 lead" th:unless="${message}">Sayfa Bulunamadı</div>
                    <a th:href="@{/}" class="btn btn-link">Ana Sayfa'ya Dön</a>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>
