<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{::title}, ~{::section})">
<head>
    <title>VetApp | Ana Sayfa</title>
</head>
<body>

<section>

    <div class="row">
        <div class="col-sm-6">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Hayvan Sahipleri</h5>
                    <hr>
                    <p class="card-text">Toplam Kayıt: [[${ownerCount}]]</p>
                    <a th:href="@{/owners}" class="btn btn-primary">Kayıtları Göster</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Hayvanlar</h5>
                    <hr>
                    <p class="card-text">Toplam Kayıt: [[${petCount}]]</p>
                    <a th:href="@{/pets}" class="btn btn-primary">Kayıtları Göster</a>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>
