<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/components :: head(~{::title})">
    <title>VetApp | Hayvan Sahibi Düzenleme</title>
</div>

<body>

<div th:replace="fragments/components :: navbar"></div>

<div class="container mt-5">
    <div class="col-md-6 mx-auto">
        <div class="d-flex justify-content-between">
            <div>
                <h3>Bilgileri Düzenle</h3>
            </div>
            <div>
                <a class="btn btn-primary" th:href="@{/owners/{id}(id=${owner.id})}">Hayvan Sahibi Sayfasına Dön</a>
            </div>
        </div>
        <hr>

        <div th:replace="fragments/components :: message"></div>

        <div class="card bg-light">
            <div class="card-body">
                <form th:action="@{/owners/edit/{id}(id=${owner.id})}" th:object="${owner}" method="post">
                    <div th:replace="fragments/components :: form-error"></div>
                    <div class="mb-3">
                        <label for="fullName" class="form-label">Ad Soyad</label>
                        <input type="text" class="form-control" th:field="*{fullName}" id="fullName">
                    </div>
                    <div class="mb-3">
                        <label for="telephoneNumber" class="form-label">Telefon</label>
                        <input type="tel" class="form-control" th:field="*{telephoneNumber}" id="telephoneNumber">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" th:field="*{email}" id="email">
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Adres</label>
                        <input type="text" class="form-control" th:field="*{address}" id="address">
                    </div>
                    <button type="submit" class="btn btn-success">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>