<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Vet App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p><a th:href="@{/owners}">Owner Listesine Geri Gön</a></p>
<p><a th:href="@{/owners/{id}(id=${owner.id})}">Owner Sayfasına Geri Gön</a></p>
<hr>
<div th:if="${message}">
    <p>[[${message}]]</p>
    <hr>
</div>

<form th:action="@{/owners/edit/{id}(id=${owner.id})}" th:object="${owner}" method="post">

    <div th:if="${#fields.hasAnyErrors()}">
        <ul>
            <li th:each="err : ${#fields.errors('owner.*')}" th:text="${err}"/>
        </ul>
    </div>

    <p>Full Name: <input type="text" th:field="*{fullName}"/></p>
    <p>Telephone Number: <input type="text" th:field="*{telephoneNumber}"/></p>
    <p>Email: <input type="email" th:field="*{email}"/></p>
    <p>Address: <input type="text" th:field="*{address}"/></p>
    <p><input type="submit" value="Kaydet"/></p>
</form>

</body>
</html>