<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Vet App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>

<p><a th:href="@{/owners/add}">Owner Ekle</a></p>

<div th:if="${message}">
    <p>[[${message}]]</p>
</div>

<table>
    <thead>
    <tr>
        <th>Ad Soyad</th>
        <th>Telefon</th>
        <th>Email</th>
        <th>Adres</th>
        <th>Oluşturulma Tarihi</th>
        <th>Güncellenme Tarihi</th>
        <th>İşlem</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td>[[${owner.fullName}]]</span></td>
        <td>[[${owner.telephoneNumber}]]</td>
        <td>[[${owner.email}]]</td>
        <td>[[${owner.address}]]</td>
        <td th:text="${#dates.format(owner.createdAt, 'dd/MMM/yyyy HH:mm')}"></td>
        <td th:text="${#dates.format(owner.updatedAt, 'dd/MMM/yyyy HH:mm')}"></td>
        <td><a th:href="@{/owners/{id}(id=${owner.id})}">Göster</a>
            <a th:href="@{/owners/edit/{id}(id=${owner.id})}">Düzenle</a>
            <a th:href="@{/owners/delete/{id}(id=${owner.id})}">Sil</a>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>