<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{::title}, ~{::section})">
<head>
    <title>VetApp | Hayvan Sahibi Arama: [[${param.keyword}]]</title>
</head>
<body>

<section>
    <h2>Arama Ekranı</h2>
    <hr>
    <div class="d-flex justify-content-between">
        <div>
            <form th:action="@{/owners/search}" method="get" class="row g-3">
                <div class="col-auto">
                    <label for="keyword" class="visually-hidden">Ad Soyad: </label>
                    <input type="text" class="form-control" name="keyword" id="keyword" th:value="${param.keyword}">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Ara</button>
                </div>
            </form>
        </div>
        <div>
            <a class="btn btn-primary" th:href="@{/owners/add/}"><i class="bi bi-plus-lg"></i>&nbsp;&nbsp;Yeni Kayıt</a>
        </div>
    </div>

    <div class="justify-content-start">
        <span class="badge bg-secondary">Toplam Kayıt: [[${totalItems}]]</span>
    </div>

    <div th:if="${totalItems == 0}" class="mt-2">
        <h4>Arama sonucunda kayıt bulunamadı.</h4>
    </div>

    <div th:unless="${totalItems == 0}">
        <table class="table table-light table-bordered table-hover mt-3">
            <thead>
            <tr>
                <th scope="col">Ad Soyad</th>
                <th scope="col">Telefon</th>
                <th scope="col">Email</th>
                <th scope="col">Adres</th>
                <th scope="col">Kayıt Tarihi</th>
                <th scope="col">İşlem</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="owner : ${owners}">
                <td class="text-capitalize">[[${owner.fullName}]]</span></td>
                <td>[[${owner.telephoneNumber}]]</td>
                <td>[[${owner.email}]]</td>
                <td>[[${owner.address}]]</td>
                <td>[[${#dates.format(owner.createdAt, 'dd/MMM/yyyy HH:mm')}]]</td>
                <td><a class="btn btn-outline-success" th:href="@{/owners/{id}(id=${owner.id})}">Göster</a>
                    <a class="btn btn-outline-warning" th:href="@{/owners/edit/{id}(id=${owner.id})}">Düzenle</a>
                    <a class="btn btn-outline-danger" th:href="@{/owners/delete/{id}(id=${owner.id})}">Sil</a>
                </td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item" th:classappend="${currentPage == 1 } ? 'disabled' : ''">
                    <a class="page-link" th:href="@{/owners/search(keyword=${keyword},page=${currentPage - 1})}">Önceki
                        Sayfa</a>
                </li>
                <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}"
                    th:classappend="${currentPage == i} ? 'active' : ''" aria-current="page">
                <span th:if="${currentPage == i}">
                    <span class="page-link">[[${i}]]</span>
                </span>
                    <span th:unless="${currentPage == i}">
                    <a class="page-link" th:href="@{/owners/search(keyword=${keyword},page=${i})}">[[${i}]]</a>
                </span>
                </li>
                <li class="page-item"
                    th:classappend="(${totalPages == 1 || totalPages == currentPage }) ? 'disabled' : ''">
                    <a class="page-link" th:href="@{/owners/search(keyword=${keyword},page=${currentPage + 1})}">Sonraki
                        Sayfa</a>
                </li>
            </ul>
        </nav>
    </div>
</section>

</body>
</html>