<!DOCTYPE HTML>
<html lang="tr">
<head>
    <title>Vet App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p><a th:href="@{/}">Ana Sayfaya Dön</a></p>
<p><a th:href="@{/owners}">Owner Listesine Geri Gön</a></p>

<hr>
<h1>Owner</h1>
<hr>
<p><b>Ad Soyad:</b> [[${owner.fullName}]]</span></p>
<p><b>Telefon:</b> [[${owner.telephoneNumber}]]</p>
<p><b>Email:</b> [[${owner.email}]]</p>
<p><b>Adres:</b> [[${owner.address}]]</p>
<p><a th:href="@{/owners/edit/{id}(id=${owner.id})}">Düzenle</a></p>
<p><a th:href="@{/owners/delete/{id}(id=${owner.id})}">Sil</a></p>
</body>
</html>